# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log